@import "tailwindcss";
@plugin "daisyui";

body {
  margin: 0;
  min-height: 100vh;
}

.hero {
  background-image: url('/bg2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dialog-section {
  background-image: url('/bg1.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.map {
  background-image: url('/bg3.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}