@import "tailwindcss";
@plugin "daisyui";

body {
  margin: 0;
  min-height: 100vh;
}

.hero {
  background-image: url('/bg2.jpg');
  background-size: 100% auto;
  background-position: center;
}

.dialog-section {
  background-image: url('/bg1.jpg');
  background-size: 100% auto;
  background-position: center;
}

.map {
  background-image: url('/bg3.jpg');
  background-size: 100% auto;
  background-position: center;
}